label.level-1, label.level-2 {
	display: inline-block;
	text-align: right;
}

label.level-1 {
	width: 100px;
}

li.level-1 {
	padding-left: 100px;
}

label.level-2 {
	width: 150px;
}

li.level-2 {
	padding-left: 150px;
}
